* {

    font-family: 'Roboto', sans-serif;

}

:root {

    --main-color: rgb(26, 26, 26);

}

body {

    background-image: url(./media/wp2172694.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.bg-main{

    background-color: var(--main-color);

}

.player {

    height: 400px;
    width: 300px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 150px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px var(--main-color);

}

.player .header {

    height: 50px;
    width: 100%;
    background-color: var(--main-color);

}

.player .display {

    height: 240px;
    width: 100%;
    border-left: var(--main-color) 7px solid;
    border-right: var(--main-color) 7px solid;

}

.img-cover {

    height: 180px;
    border-radius: 100%;
    
}



